@use "../variables";

.feedback {
  background-color: variables.$beige;
  padding-bottom: 7.5rem;
  box-shadow: variables.$shadow-base;

  &__title {
    color: variables.$red;
    text-align: center;
    font-weight: 700;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__swiper {
    padding-bottom: 4.35rem;
  }

  &__slide {
    display: flex;
    align-items: center;
    height: auto;
    padding: 1.875rem;
    border-radius: 5.125px;
    background-color: #f7f7f7;
  }

  &__arrow-prev,
  &__arrow-next {
    position: absolute;
    top: 60%;

    &:hover {
      cursor: pointer;
    }
  }

  &__arrow-prev {
    left: 0;
  }

  &__arrow-next {
    right: 0;
  }

  &__photo {
    min-width: 10.75rem;
    height: 10.75rem;
    margin-right: 1.25rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__user-name {
    font-size: clamp(0.875rem, 0.799rem + 0.38vw, 1.25rem);
    font-weight: 700;
    position: relative;
    padding-bottom: 0.625rem;

    &::after {
      content: "";
      position: absolute;
      width: 11.7875rem;
      height: 0.1281rem;
      bottom: 0;
      left: 0;
      background-color: #2e2e2e;
    }
  }

  &__text {
    color: #2e2e2e;
    font-size: clamp(0.75rem, 0.674rem + 0.38vw, 1.125rem);
    line-height: 130%;
    padding-top: 0.875rem;
    padding-bottom: 0.8125rem;
  }

  &__star {
    font-size: 1.75rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      180deg,
      #cfa859 0%,
      rgba(246, 201, 109, 0.79) 21.35%,
      rgba(251, 180, 36, 0.63) 37.5%,
      rgba(231, 182, 52, 0.8) 54.17%,
      rgba(223, 164, 43, 0.74) 68.75%,
      #cea553 84.37%,
      #b88e39 99.98%,
      rgba(207, 168, 88, 0.1) 99.99%,
      rgba(207, 168, 89, 0) 100%,
      #936f28 100%,
      #936f28 100%,
      #b88e39 100%
    );
  }
}
