@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: variables.$font-base;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: variables.$red;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 130%;
}

h2 {
  font-size: clamp(1.5rem, 1.348rem + 0.76vw, 2.25rem);
}
